<nav class="navbar navbar-expand-lg" style="background-color: transparent;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="/htlogo.png" class="logo" alt=""></a>
    <button class="navbar-toggler" style="color: #fff;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="color: #fff;" ></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about-section">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services-section">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/blogs">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        
      </ul>
      <span class="navbar-text">
        <div>
            <a href="https://forms.gle/D5Zf3JMrEYbquHKj7" target="_blank" class="btn" style="background-color: #ffd230; color: #fff; font-weight: 700; font-size: 1rem;">
                Book an Appointment
            </a>
        </div>
      </span>
    </div>
  </div>
</nav>